.devise-session-new{
    text-align: center;
    width: 500px; 
    height: 342px;
    margin: 0 auto;
    background: #9fd4ef; 
    color: #000;
    border-radius: 25px;
}

.field1{
    margin-right: 300px;
}
.field2{
    margin-right: 240px;
}
.field3{
    margin-right: 100px;
}

.error{
    color: red;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}